body {
    text-align: center;
}

#brooklynimg {
    cursor: pointer;
    
}

#acheivements {
    margin-top: 900px;
}

#contact img {
    margin-left: 1000px;
    
}

#vv {
    margin-left:900px; 
}